/*.App {
    margin-left: auto;
}


.Wallet {
    margin: 2px;
    text-align: center;
}

.Label {
    margin: 5px auto;
    text-align: center;
}

.Balance {
    margin: 5px auto;
    text-align: center;
}

.Deposit {
    margin: 5px auto;
    margin-left: 15px;
}

.Input_deposit {
    margin: 5px auto;
}

.Button_deposit {
    margin: 15px auto
}

.Transfer {
    margin-left: 15px;

}

.Input_1 {
    margin: 15px auto;
}

.Input_2 {
    margin: 15px auto;
}

.Button_transfer{
    margin: 15px auto;
}

.Start {
    margin-left: 15px;
}

.Start_input {
    margin: 15px auto
}

.Start_button {
     margin: 15px auto
}
*/

