.Rectangle-Copy-2 {
    margin-left: auto;
    margin-right: auto;

    width: 960px;
    height: 817px;
    object-fit: contain;
    background-color: #f8f8f8;
}

.Rectangle-4 {

    display: inline-block;
    margin-top: 51px;
    margin-left: 80px;
    margin-right: 81px;
    width: 799px;
    height: 162px;
    object-fit: contain;
    border-radius: 15px;
    background-color: #6f5a82;
}

.Wallet {
    margin-bottom: 13px;
    margin-top: 14px;
    margin-right: 368px;
    margin-left: 368px;
    display: inline-block;
    width: 63px;
    height: 29px;
    object-fit: contain;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.Rectangle-2-Copy-10 {
    margin-left: 54px;
    margin-right: 49px;
    display: inline-block;
    width: 696px;
    height: 57px;
    object-fit: contain;
    opacity: 0.3;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 2px #ffffff;
}

.Rectangle-Copy {
    display: inline-block;
    margin-top: 27px;
    margin-left: 1px;
    width: 797px;
    height: 569px;
    object-fit: contain;
    background-color: #ffffff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

.xa5b28931b3ee0cb776 {
    width: 487px;
    height: 28px;
    object-fit: contain;
    font-family: Roboto;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-color: #ffffff;
}

.layer {
    margin-top: 46px;
    margin-left: 312px;
    display: inline-block;
    margin-right: 117px;
    width: 29px;
    height: 66px;
    object-fit: contain;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #7fa99b;
}

.-copy {
    display: inline-block;

    width: 29px;
    height: 66px;
    object-fit: contain;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #d95858;
}

.ETHER-ON-CHAIN {
    margin-left: 279px;
    display: inline-block;
    margin-right: 49px;
    width: 93px;
    height: 52px;
    object-fit: contain;
    font-family: Roboto;
    font-size: 19.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.fb {
    font-family: Roboto;
}

.ETHER-OFF-CHAIN {
    display: inline-block;
    width: 102px;
    height: 52px;
    object-fit: contain;
    font-family: Roboto;
    font-size: 19.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.Rectangle-3-Copy {
    margin-left: 179px;
    margin-right: 16px;
    margin-top: 19px;
    display: inline-block;
    width: 213px;
    height: 50px;
    border-radius: 11px;
    border: solid 2px #e1e1e1;
}

input {
    outline: none;

    width: 112px;
    height: 26px;
    opacity: 0.4;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.DEPOSIT {
    display: inline-block;
    border: none;
    color: #FFFFFF;
    border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    font-family: Roboto;
    width: 214px;
    height: 50px;
    border-radius: 11px;
    background-color: #f5a623;
    font-size: 20px;

    box-shadow: inset 0 1px 0 0 #FFF6CE;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE;
    background-image: linear-gradient(to top, #FCE374, #FCDF5B);

}

.DEPOSIT:hover, .DEPOSIT:active {
    border: none;
    color: #705D07;
    box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    background-color: #FCDF5B;
}

.Rectangle-10-Copy {
    margin-top: 38px;
    margin-left: 178px;
    width: 444px;
    height: 50px;
    border-radius: 11px;
    border: solid 2px #e1e1e1;
}